xml/ddue/developerStructure.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:maml="http://ddue.schemas.microsoft.com/authoring/2003/5"
  targetNamespace="http://ddue.schemas.microsoft.com/authoring/2003/5"
  blockDefault="#all"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xml:lang="en">

  <annotation>
    <documentation>
      This schema describes MAML, the Microsoft Assistance Markup Language. MAML is intended for software documentation. In particular, it is intended to accomodate the needs of Microsoft documentation.
      The schema is broken into three main areas: end user, developer and IT Pro. These areas adequaltely categorize Microsoft documentation.
      The namespace uri for this version of Maml is: http://ddue.schemas.microsoft.com/authoring/2003/5. Each backwards-incompatible revision to Maml will require that the date fields be appropriately incremented in uri of the updated version of the Maml schema.
    </documentation>
  </annotation>

  <include schemaLocation="baseConditional.xsd"/>
  <include schemaLocation="inline.xsd"/>
  <include schemaLocation="block.xsd"/>
  <include schemaLocation="structure.xsd"/>

  <complexType name="singleParagraphSimpleContentType">
    <sequence>
      <element ref="maml:para" minOccurs="0"/>
    </sequence>
  </complexType>

  <element name="summary">
    <annotation>
      <documentation>
        This element contains a summary, introduction, or short description of the current item. This text typically appears in a topic and may also be used as the description of the topic that appears in a jump table when the topic is being linked to.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:summary" location="before" />
      </appinfo>
    </annotation>
    <complexType>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element ref="maml:para" />
        <element ref="maml:mediaLink" />
      </choice>
    </complexType>
  </element>

  <element name="remarks" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element contains a detailed discussion of the current item.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:remarks" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="legacy" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element holds legacy content that has not been subdivided into elements according to the latest standards.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:legacy" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="comments" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element holds a general discussion.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:comments" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <group name="codeExampleContentsGroup">
    <sequence>
      <element ref="maml:description" minOccurs="0"/>
      <group   ref="maml:codeGroup" minOccurs="1" maxOccurs="unbounded"/>
      <element ref="maml:comments" minOccurs="0"/>
    </sequence>
  </group>

  <complexType name="codeExampleType" mixed="false">
    <choice>
      <element ref="maml:legacy"/>
      <group   ref="maml:codeExampleContentsGroup"/>
    </choice>
  </complexType>

  <element name="codeExample" type="maml:codeExampleType">
    <annotation>
      <documentation>
        This element holds a discussion of a code example.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:codeExample" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name="codeExamplesType" mixed="false">
    <sequence>
      <element ref="maml:codeExample" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="codeExamples" type="maml:codeExamplesType">
    <annotation>
      <documentation>
        This element is a collection of codeExample elements.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:codeExamples" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <element name="buildInstructions" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element holds instructions for building a code example.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:buildInstructions" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <element name="robustProgramming" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element holds a discussion of error handling and other issues related to writing solid code.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:robustProgramming" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="security" type="maml:namedSectionType">
    <annotation>
      <documentation>
        This element holds a discussion of security issues.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:security" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name ="legacySyntaxType" mixed="true">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element ref="maml:parameterReference" />
      <element name="legacyBold" type="maml:textType" />
      <element ref="maml:legacyLink" />
      <element ref="maml:legacyUnderline" />
      <element ref="maml:literal" />
      <element ref="maml:placeholder" />
    </choice>
    <attribute name="language" type="maml:devLanguagesType" />
  </complexType>

  <element name="legacySyntax" type="maml:legacySyntaxType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" font-family="monospace" margin="1em" padding="0.5em" border="Thin Solid #bbbbbb" backgroundColor="#eeeeee" color="#00009c" />
        <elementStyle styleType="documentElementTag" content="maml:legacySyntax" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name="syntaxSectionType" mixed="false">
    <sequence>
      <element ref="maml:sections" minOccurs="0" maxOccurs="1"/>
      <element ref="maml:legacySyntax" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="syntaxSection" type="maml:syntaxSectionType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:syntaxSection" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name="schemaHierarchyType" mixed="false">
    <sequence>
      <element ref="maml:link" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  
  <element name="schemaHierarchy" type="maml:schemaHierarchyType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:schemaHierarchy" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <complexType name="attributesType" mixed="true">
    <choice>
      <element ref="maml:para"/>
      <element ref="maml:table"/>
    </choice>
  </complexType>
  
  <complexType name="attributeType" mixed="true">
    <sequence>
      <element name="title" type="maml:textType"/>
      <element ref="maml:table"/>
    </sequence>
  </complexType>
  
  <element name="attribute" type="maml:attributeType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:attribute" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <complexType name="attributesandElementsType" mixed="true">
    <sequence>
      <element ref="maml:para"/>
      <element name="attributes" type="maml:attributesType"/>
      <element ref="maml:attribute" minOccurs="0" maxOccurs="unbounded"/>
      <element name="childElement" type="maml:attributesType"/>
      <element name="parentElement" type="maml:attributesType"/>
    </sequence>
  </complexType>
  
  <element name="attributesandElements" type="maml:attributesandElementsType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:attributesandElements" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <complexType name="tableType" mixed="false">
    <sequence>
      <element ref="maml:table"/>
    </sequence>
  </complexType>
  
  <element name="elementInformation" type="maml:tableType">
    <annotation>
      <documentation>
        This element holds syntax obtained from a converted document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:elementInformation" location="before" />
      </appinfo>
    </annotation>
  </element>

</schema>