xml/ddue/inlineCommon.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:maml="http://ddue.schemas.microsoft.com/authoring/2003/5"
  targetNamespace="http://ddue.schemas.microsoft.com/authoring/2003/5"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  
  <annotation>
    <documentation>
      This schema defines common inline elements.
    </documentation>
  </annotation>
  
  <include schemaLocation="base.xsd" />
  <include schemaLocation="inline.xsd" />
  <include schemaLocation="blockCommon.xsd" />
  
  <element name="quoteInline" type="maml:textType">
    <annotation>
      <documentation>
        The quoteInline element describes an inline quotation.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:quoteInline" location="before" />
      </appinfo>
    </annotation>
  </element>
  
  <element name="date" type="maml:textType">
    <annotation>
      <documentation>
        The date element describes a date.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:date" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="foreignPhrase" type="maml:textType">
    <annotation>
      <documentation>
        The foreignPhrase element describes a phrase that is of a language that is different than the primary language of the document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:foreignPhrase" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="phrase">
    <annotation>
      <documentation>
        The phrase element is a wrapper element for a run of text. It is solely a container and does not specify any semantics on its own.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:phrase" location="before" />
      </appinfo>
    </annotation>
    <complexType mixed="true">
      <complexContent mixed="true">
        <extension base="maml:inlineType" >
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="legacyBold" type="maml:inlineType">
    <annotation>
      <documentation>
        This element marks bolded text in legacy documents. DO NOT USE IT in authoring new documents.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" font-weight="bold" />
        <elementStyle styleType="documentElementTag" content="maml:legacyBold" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="legacyItalic" type="maml:inlineType">
    <annotation>
      <documentation>
        This element marks italicized text in legacy documents. DO NOT USE IT in authoring new documents.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" font-style="italic" />
        <elementStyle styleType="documentElementTag" content="maml:legacyItalic" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="legacyUnderline" type="maml:inlineType">
    <annotation>
      <documentation>
        This element marks underlined text in legacy documents. DO NOT USE IT in authoring new documents.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" text-decoration="underline" />
        <elementStyle styleType="documentElementTag" content="maml:legacyUnderline" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name="subscriptType" mixed="false">
    <simpleContent>
      <extension base="token" />
    </simpleContent>
  </complexType>

  <complexType name="superscriptType" mixed="false">
    <simpleContent>
      <extension base="token" />
    </simpleContent>
  </complexType>

  <element name="subscript" type="maml:subscriptType">
    <annotation>
      <documentation>
        This element marks a subscript in a mathematical expression.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" vertical-align="sub" />
        <elementStyle styleType="documentElementTag" content="maml:subscript" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="superscript" type="maml:superscriptType">
    <annotation>
      <documentation>
        This element marks a superscript in a mathematical expression.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" vertical-align="super" />
        <elementStyle styleType="documentElementTag" content="maml:superscript" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="notLocalizable" type="maml:inlineType">
    <annotation>
      <documentation>
        The notLocalizable element is a wrapper element for a run of text that should not be localized.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:notLocalizable" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="copyright">
    <annotation>
      <documentation>
        The copyright element describes the copyright information about a document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:copyright" location="before" />
      </appinfo>
    </annotation>
    <complexType>
      <sequence>
        <element name="trademark" type="token">
          <annotation>
            <documentation>
              The trademark element describes some manner of corporate trademark.
            </documentation>
          </annotation>
        </element>
      </sequence>
      <attribute name="class">
        <annotation>
          <documentation>
            The class attribute describes the type of trademark used.
          </documentation>
        </annotation>
        <simpleType>
          <restriction base="token">
            <enumeration value="copyright" />
            <enumeration value="trade" />
            <enumeration value="registered" />
            <enumeration value="service" />
          </restriction>
        </simpleType>
      </attribute>
      <attributeGroup ref="maml:contentIdentificationSharingAndConditionGroup" />
    </complexType>
  </element>

  <element name="corporation" type="maml:textType">
    <annotation>
      <documentation>
        The corporation element describes a corporation.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:corporation" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="country" type="maml:textType">
    <annotation>
      <documentation>
        The country element describes a country.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:country" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="dynamicLink" type="maml:dynamicLinkType">
    <annotation>
      <documentation>
        The dynamicLink element contains the B-keywords that will be used by K-tables.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:dynamicLink" location="before" />
      </appinfo>
    </annotation>
  </element>

  <complexType name="dynamicLinkType" mixed="false">
    <sequence>
      <choice minOccurs="1" maxOccurs="unbounded">
        <element ref="maml:keyword"/>
      </choice>
    </sequence>
    <attribute name="type" use="required">
      <annotation>
        <documentation>
          The class attribute describes the type of list.
        </documentation>
      </annotation>
      <simpleType>
        <restriction base="string">
          <enumeration value="bulleted"/>
          <enumeration value="inline"/>
          <enumeration value="table"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>

  <element name="keyword" type="token">
    <annotation>
      <documentation>
        This element holds the B-keywords.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:keyword" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="hotkey" type="token">
    <annotation>
      <documentation>
        This element represents a control or menu hotkey.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:hotkey" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="localizedText" type="maml:inlineType">
    <annotation>
      <documentation>
        This element holds the Localized text.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:localizedText" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="embeddedLabel" type="maml:inlineType">
    <annotation>
      <documentation>
        This element holds the embedded labels, typically for run-in headings.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:embeddedLabel" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="index" type="maml:inlineType">
    <annotation>
      <documentation>
        This element holds the embedded labels, typically for run-in headings.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:index" location="before" />
      </appinfo>
    </annotation>
  </element>

  <element name="title">
    <annotation>
      <documentation>
        The title element describes the name of a part of the document.
      </documentation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:title" location="before" />
      </appinfo>
    </annotation>
    <complexType mixed="true">
      <choice>
        <element ref="maml:token" minOccurs="0"  maxOccurs="unbounded" />
        <group ref="maml:inlineCommonGroup" minOccurs="0" maxOccurs="unbounded" />
      </choice>
      <attribute name="styleId" type="string"/>
      <attributeGroup ref="maml:contentIdentificationSharingAndConditionGroup"/>
    </complexType>
  </element>

  <element name="style">
    <annotation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:style" location="before" />
      </appinfo>
    </annotation>
    <complexType mixed="true">
      <sequence />
      <attribute name="styleId" type="string" />
    </complexType>
  </element>

  <element name="br">
    <annotation>
      <appinfo>
        <elementStyle styleType="documentElement" display="block" />
        <elementStyle styleType="documentElementTag" content="maml:br" location="before" />
      </appinfo>
    </annotation>
    <complexType>
    </complexType>
  </element>

  <group name="inlineCommonGroup">
    <annotation>
      <documentation>
        This type describes the set of inline elements that are likely to be needed for block elements' content models.
      </documentation>
    </annotation>
    <choice>
      <element ref="maml:quoteInline" />
      <element ref="maml:date" />
      <element ref="maml:foreignPhrase" />
      <element ref="maml:phrase" />
      <element ref="maml:copyright" />
      <element ref="maml:corporation" />
      <element ref="maml:country" />
      <element ref="maml:notLocalizable" />
      <element ref="maml:subscript" />
      <element ref="maml:superscript" />
      <element ref="maml:legacyBold" />
      <element ref="maml:legacyItalic" />
      <element ref="maml:legacyUnderline" />
      <element ref="maml:dynamicLink"/>
      <element ref="maml:localizedText"/>
      <element ref="maml:embeddedLabel"/>
      <element ref="maml:style"/>
      <element ref="maml:index"/>
      <element ref="maml:endNote"/>
      <element ref="maml:br"/>
      <element ref="maml:hotkey" />
    </choice>
  </group>

</schema>